@import url('./global.css');

#modal-blur {
  position: absolute;
  inset: 0;
  margin: auto;
  background: rgb(65, 65, 65, 0.5);
  backdrop-filter: blur(1rem);
  transition: all ease-in-out 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}